* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color:#fff;
  background-color:hsl(257, 40%, 49%);
 background-image:url('bg-desktop.svg');
 background-repeat:no-repeat;
 background-position:center;
 background-size:cover;
}

  #logo {
    width: 150px;
    position: absolute;
    top: 30px;
    left:30px;
    display: inline-block;
    margin-left:10px;
  }

.content {
  display: flex;
  height: 80vh;
  align-items: center;
  align-content: center;
  margin-top: 4rem;
}

#main .content .right{
 margin-top:120px;
margin-right:40px;
  flex:2;
  align-self: flex-start;
 overflow:hidden;
}

#main .content .left {
  flex: 3;
}

#main .content .left img {
  width:560px;
  height:300px;
  margin-top:10px;
  margin-left:20px;
}

#main .content .right h2 {
 
  margin-top:10px;

}
  #main .content .right p{
  
  
    margin-top: 10px;
    color: white;
    opacity: .8;
    font-size: 14px;
  
  
  
}

#main .content .btn {
  padding: 1rem 4.5rem;
  text-align: center;
  margin-top: 2rem;
  border: none;
  border-radius: 30px;
  color:hsl(257, 40%, 49%);
 
}
.clean{
 clear:both;
}


.a{
  
  text-decoration:none;
}


svg{

  padding-right:9px;
  
  
}
.big {
  
 width:100%;
 text-align:center;

overflow:hidden;

}



#icon {
 width: 30%;
margin: auto;
padding:10px;

text-align:center;

}


@media (max-width:768px) {
  body {
  background-color:hsl(257, 40%, 49%);
      background-image:url('bg-mobile.svg');
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
  }
   .container{
  
     padding-left:15px !important;
     padding-right:15px !important;
     margin:auto !important;
  
  
   }
  
   #logo{
    width:150px;
   position: absolute;
   top:25px;
   left:25px;
   
   display: inline-block;
   }
   
  #main .content .left img {
    margin-top:30px;
   text-align:center;
   width:80%;
   height:250px;
   
   
    
  }
  
  .content{
    display:inline-block;
    text-align:center;
  }
  
 #main .content .right{
   margin-top:80px;
     text-align: center;
     display: block;
     width:100%;
     overflow:hidden;
     
  }   
  #main .content .right h1{
    margin-top:35px;
    font-weight:bold;
    text-align:center;
    font-size:25px;
  }
 
  #main .content .con{
    
     text-align: center !important;
     width:30%;
     
 
   }
 
 
}


